<!DOCTYPE html>
<html>
<body>
<img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="Trulli" width=screen.width height=screen.height>
        <script>
    function getResolution() {
        alert("Your screen resolution is: " + screen.width + "x" + screen.height);
    }
    </script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Get Screen Resolution Using JavaScript</title>
</head>
<body>
    <script>
    function getResolution() {
        alert("Your screen resolution is: " + screen.width + "x" + screen.height);
    }
    </script>
     
    <button type="button" onclick="getResolution();">Get Resolution</button>
</body>
</html>
 -->
